@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&family=Tomorrow:wght@400;800&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;

  touch-action: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

:root {
  --color-primary: #ff753a;
  --color-secondary: #1e2659;
  --color-accent: #4b403a;
  --color-background: #f6f5f4;
  --color-background-tint: #e7e3e2;
  --color-background-dark: #8b817d;
  --color-text: #453e3a;

  --size-256: 256px;
  --size-128: 128px;
  --size-96: 96px;
  --size-80: 80px;
  --size-64: 64px;
  --size-48: 48px;
  --size-32: 32px;
  --size-24: 24px;
  --size-16: 16px;
  --size-12: 12px;
  --size-8: 8px;
  --size-4: 4px;
  --size-2: 2px;

  --ui-radius: var(--size-8);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 800;
  font-family: "Tomorrow", sans-serif;
  color: var(--color-text);
}

p,
a,
label {
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
  color: var(--color-text);
  font-weight: 500;
  margin: 0;
  margin-bottom: 0.1em;
}

.page-width {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

.page-column {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  justify-content: center;
  gap: var(--size-16);
}

.card {
  padding: var(--size-16);
  border-radius: var(--size-16);
  background-color: var(--color-background);
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.05);
  border: 1px solid var(--color-background-tint);

  &.float {
    box-shadow:
      0px 23px 27.8px -11px rgba(61, 52, 76, 0.28),
      0px 0px 20.4px -3px rgba(82, 60, 67, 0.13);
  }
}

.slot {
  border-radius: var(--size-16);
  background: radial-gradient(
    109.24% 109.24% at 50% 50%,
    #e2e2e2 0%,
    #e7e0d8 100%
  );
  box-shadow:
    -3px -2px 4px 0px rgba(23, 21, 18, 0.02) inset,
    2px 2px 6.1px -1px rgba(40, 23, 14, 0.31) inset,
    11px 14px 28.9px -7px rgba(73, 40, 49, 0.25) inset;
}

input[type="range"] {
  -webkit-appearance: none;

  padding: 0px;
  border-radius: var(--size-16);
  background: radial-gradient(
    109.24% 109.24% at 50% 50%,
    #e2e2e2 0%,
    #e7e0d8 100%
  );
  box-shadow:
    -3px -2px 4px 0px rgba(23, 21, 18, 0.02) inset,
    2px 2px 6.1px -1px rgba(40, 23, 14, 0.31) inset,
    11px 14px 28.9px -7px rgba(73, 40, 49, 0.25) inset;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: var(--size-24);
    height: var(--size-24);
    border-radius: 50%;
    background: radial-gradient(
        50% 50% at 50% 50%,
        #ff7e47 0%,
        #f76636 80%,
        rgba(247, 105, 45, 0) 90%
      ),
      conic-gradient(
        from 180deg at 50% 50%,
        #cd331b 25deg,
        #ff842f 51deg,
        #ff852e 141deg,
        #ffc499 161deg,
        #ff852e 174deg,
        #ff852e 209deg,
        #de3d24 232deg
      );
    box-shadow:
      0px 0px 4px 4px rgba(255, 255, 255, 0.212) inset,
      -4px -4px 4px -6px rgba(255, 255, 255, 0.33),
      3px 5px 4px -0.5px rgba(48, 41, 58, 0.4);
    cursor: pointer;
  }
}

button,
.button {
  --button-border: 2px;
  --button-color: var(--color-background);

  cursor: pointer;
  font-family: "IBM Plex Mono", monospace;
  position: relative;
  border-radius: var(--ui-radius);
  border: none;
  padding: var(--size-8) var(--size-16);
  margin: var(--button-border);
  background-color: var(--button-color);
  box-shadow: 0px 0px var(--button-border) calc(var(--button-border) / 2)
    var(--button-color);

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: calc(-1 * var(--button-border));
    left: calc(-1 * var(--button-border));
    width: calc(100% + 2 * var(--button-border));
    height: calc(100% + 2 * var(--button-border));
    border-radius: calc(var(--ui-radius) + var(--button-border));
    transition: box-shadow 0.05s ease-in;
    box-shadow:
      4px 4px 8px 0px rgba(255, 255, 255, 0.468) inset,
      -4px -4px 8px 0px rgba(46, 41, 58, 0.55) inset,
      0.5px 0.5px 1px 0px rgba(36, 29, 38, 0.473),
      2px 2px 4px 0.5px rgba(48, 41, 57, 0.208),
      0px 0px 0px calc(var(--button-border) / 3) rgb(214, 214, 216);
  }

  &::after {
    content: "";
    position: absolute;
    border-radius: calc(var(--ui-radius) + var(--button-border));
    top: 0;
    left: 0;
    width: calc(100% + var(--button-border) / 6);
    height: calc(100% + var(--button-border) / 6);
    border: 1px solid rgb(255, 255, 255);
    --webkit-mask-image: linear-gradient(
      to bottom right,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 1) 100%
    );
    mask-image: linear-gradient(
      to bottom right,
      rgba(0, 0, 0, 0) 80%,
      rgba(0, 0, 0, 1) 100%
    );
    filter: blur(0.2px);
  }

  &:hover {
    &::before {
      box-shadow:
        2px 2px 8px 0px rgba(140, 139, 142, 0.468) inset,
        -2px -2px 8px 0px rgba(43, 43, 44, 0.427) inset,
        0.5px 0.5px 1px 0px rgba(36, 29, 38, 0),
        2px 2px 4px 0.5px rgba(48, 41, 57, 0);
    }
  }

  &.active {
    &::before {
      box-shadow:
        4px 4px 8px 0px rgba(60, 59, 63, 0.468) inset,
        -4px -4px 8px 0px rgba(255, 255, 255, 0.427) inset,
        0.5px 0.5px 1px 0px rgba(36, 29, 38, 0),
        2px 2px 4px 0.5px rgba(48, 41, 57, 0);
    }
  }
}

button,
.button {
  &.primary {
    --button-color: var(--color-primary);
    color: #fff;
    background-color: var(--button-color);
    box-shadow: 0px 0px var(--button-border) calc(var(--button-border) / 2)
      var(--button-color);
    &::before {
      box-shadow:
        4px 4px 8px 0px rgba(255, 255, 255, 0.468) inset,
        -4px -4px 8px 0px rgba(48, 41, 58, 0.427) inset,
        3px 3px 8px -1px rgba(53, 41, 57, 0.285),
        0px 0px 0px calc(var(--button-border) / 3) rgb(214, 214, 216);
      background: conic-gradient(
        from 134deg at 50% 50%,
        #f26637 72deg,
        #ff753a 154deg,
        #ffc277 184deg,
        #ff753a 219deg,
        #ed5126 321deg,
        #ff7439 360deg
      );
    }

    &:hover {
      &::before {
        box-shadow:
          4px 4px 8px 0px rgba(60, 59, 63, 0.468) inset,
          -4px -4px 8px 0px rgba(255, 255, 255, 0.427) inset,
          0.5px 0.5px 1px 0px rgba(36, 29, 38, 0),
          2px 2px 4px 0.5px rgba(48, 41, 57, 0);
      }
    }

    &.active {
      &::before {
        box-shadow:
          4px 4px 8px 0px rgba(60, 59, 63, 0.468) inset,
          -4px -4px 8px 0px rgba(255, 255, 255, 0.427) inset,
          0.5px 0.5px 1px 0px rgba(36, 29, 38, 0),
          2px 2px 4px 0.5px rgba(48, 41, 57, 0);
      }
    }
  }

  &.small {
    padding: var(--size-8);
  }
}

input[type="number"],
input[type="text"] {
  font-family: "IBM Plex Mono", monospace;
  user-select: none;

  border: 0px solid #ccc;
  border-radius: var(--ui-radius);
  background-color: #f3f3f3;
  padding: 0px var(--size-8);
  box-sizing: border-box;

  &:focus {
    border: 1px solid #ccc;
  }
}
