@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

#sl-background{
    background-color: cadetblue; 
}

.sl-node {
    font-family: 'VT323', monospace;
    background-color: lightgray;
    border-style: outset;
    border-width: 3px;
    border-color: darkgray;
    // &.focused {
        
    // }

    input{
        background-color: white;
        border-style: inset;
        border-width: 3px;
    }

    box-shadow: 4px 4px 0px 0px #042d27ba;
}

.sl-node-container {
    margin: 2px;
}

.sl-node-content {
    padding: 2px;
    min-height: 30px;
}

.sl-input-connector{
    left: -24px;
}

.sl-input, .sl-output{
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.sl-input {
    > .sl-label{
    // width: 40%;
    padding-right: 8px;
    inline-size: max-content;
}
}

.sl-output-connector, .sl-input-connector {
    width: 16px;
    height: 16px;
    background-color: rgb(214, 214, 214);
    border: 3px solid rgb(125, 125, 125);
    border-style: inset;
    border-radius: 50%;;
    right: -24px;
    position: absolute;
    &:hover{
       
    }
}

.sl-connector-line {
    stroke-linecap: round;
    stroke:rgb(97, 98, 100);
    &.overlapping{
        stroke: rgb(187, 187, 187);
    }
}