<script>

    function constantUpdateVal() {
        this.prop.value = this.dom.value;
    }

</script>

<template id="node-constant">
    <div class="sl-node">
        <div class="sl-row">
            <input class="sl-input" sl-event:input="constantUpdateVal" type="number" value="0">
            <span class="sl-output-connector" sl-name="value"></span>
        </div>
    </div>
</template>