<script>

    function calculateMath() {
        let input1 = +this.prop.input_1;
        let input2 = +this.prop.input_2;
        let operation = this.prop.operation;

        console.debug(input1, input2, operation);

        let result = 0;

        if (operation == '+') {
            result = input1 + input2;
        } else if (operation == '-') {
            result = input1 - input2;
        } else if (operation == '*') {
            result = input1 * input2;
        } else {
            result = input1 / input2;
        }

        console.debug("Result", result)
        this.prop.result = result;
    }

    function updateText(e) {
        console.log(`Name: ${this.name}, Value: ${this.dom.value}`);
        this.prop[this.name] = this.dom.value;
        calculateMath.call(this);
    }

    function updateOperation(e) {
        console.log(`Name: ${this.name}, Value: ${this.dom.value}`);
        this.prop[this.name] = this.dom.value;
        calculateMath.call(this);
    }

    function initMath() {
        this.prop.input_1 = 0;
        this.prop.input_2 = 0;
        this.prop.operation = '+';
        calculateMath.call(this);
    }
</script>

<template id="node-math">
    <div class="sl-node" sl-init="initMath">
        <div class="sl-row right">
            <span class="sl-label right">Result</span>
            <span class="sl-output-connector" sl-name="result"></span>
        </div>
        <div class="sl-row">
            <select class="sl-input" sl-name="operation" sl-event:input="updateOperation">
                <option value="+">Add!</option>
                <option value="-">Subtract</option>
                <option value="*">Multiply</option>
                <option value="/">Divide</option>
            </select>
        </div>
        <div class="sl-row">
            <span class="sl-input-connector" sl-name="input_1" sl-update="calculateMath"></span>
            <span class="sl-label">Input 1</span>
            <input class="sl-input" sl-name="input_1" sl-event:input="updateText" type="number" value="0">
        </div>
        <div class="sl-row">
            <span class="sl-input-connector" sl-name="input_2" sl-update="calculateMath"></span>
            <span class="sl-label">Input 2</span>
            <input class="sl-input" sl-name="input_2" sl-event:input="updateText" type="number" value="0">
        </div>
    </div>
</template>