<script>

    function displayValue() {
        if ("value" in this.prop == false) {
            this.prop.value = 0;
        }
        console.log("Displaying value", this.prop.value);
        let display = this.parent.dom.querySelector("#display");
        display.innerHTML = this.prop.value;
    }

</script>

<template id="node-print">
    <div class="sl-node">
        <div class="sl-row">
            <span class="sl-input-connector" sl-name="value" sl-update="displayValue"></span>
            <span class="sl-label">Result</span>
            <span class="sl-print" id="display">Result</span>
        </div>
    </div>
</template>